<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Light_Switch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Light_Switch.Properties.Settings>
            <setting name="CurrentThemeName" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="LightWallpaperPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkWallpaperPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsWallpaperEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LightColor" serializeAs="String">
                <value>-11896702</value>
            </setting>
            <setting name="DarkColor" serializeAs="String">
                <value>-13743278</value>
            </setting>
            <setting name="IsAppThemeEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSystemThemeEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </Light_Switch.Properties.Settings>
    </userSettings>
</configuration>